h1 {
    color: silver;
    font-family: Cambria
    font-style: italic;
font-weight: bold;
font-size: xx-large;
background-color: brown}

p {font-family: "American Typewriter";
font-size: large}

.decaf {color: green;}

#fairtrade {font-weight: bold;}


#specials a {
    font-weight: bold;
}
h3 {font-weight: bold;}

.form-group {margin-right: 30px;}

body {background-color: palegoldenrod}
