h1 {
    color: silver;
    font-family: Cambria
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    background-color: brown;

}

p {
    font-family: "American Typewriter";
    font-size: large
}

.decaf {
    color: green;
}

#fairtrade {
    font-weight: bold;
}

#specials {
    font-weight: normal;
    border: dotted;
}

#milkshakes {font-weight: normal;
border: dotted}

h3 {
    font-weight: bold;
}

.form-group {
    margin-right: 30px;
}

body {
    background-color: antiquewhite;
}

li {
    font-style: italic;
    font-family: Cambria
}


h4 {font-size: xx-large;
font-weight: 900;
font-family: "American Typewriter";
background-color: burlywood;
    text-align: center;
    text-shadow: 1px 1px 1px gray ;
    color: maroon;
    border: dashed;
}

h5 {color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
    0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
    0 0 40px #A5F1FF;
    font-size: xx-large;
    text-align: center;
    font-weight: 900;
}

.standoutwords {font-style: italic}

.tandc {font-size: xx-small}